@CHARSET "ISO-8859-1";
body {
	background-image: url("moosefly.gif");
	background-size: 100%;/*ridimensiona l'immagine*/
 	background-color: pink; 
	background-repeat:no-repeat;
	background-position:right top;
}