<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>e-commerce</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>jsp/common/home.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
<!-- 	START Dichiarazioni di servlet -->
	<servlet>
		<servlet-name>ManageLanguages</servlet-name>
		<servlet-class>it.ecommerce.servlet.common.language.ManageLanguages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageBrand</servlet-name>
		<servlet-class>it.ecommerce.servlet.common.brands.ManageBrand</servlet-class>
		<multipart-config>
		<max-file-size>1048576</max-file-size>
		<max-request-size>1058576</max-request-size>
		<file-size-threshold>524288</file-size-threshold>
<!-- 		LA SOGLIA SOTTO LA QUALE PESCA I DATI NELLA REQUEST SENZA SCRIVERLI SU DISCO -->

<!-- 	<location></location>	BISOGNA SCRIVERE IL PATH ASSOLUTO, QUINDI MEGLIO LASCIARE IL DEFAULT "" -->
		</multipart-config>
	</servlet>
	
<!-- 	END Dichiarazioni di servlet -->	

<!-- 	START Dichiarazioni di servlet mapping -->
	<servlet-mapping>
		<servlet-name>ManageLanguages</servlet-name>
		<url-pattern>/ManageLanguages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageBrand</servlet-name>
		<url-pattern>/ManageBrands</url-pattern>
	</servlet-mapping>
	
<!-- 	END Dichiarazioni di servlet mapping -->
	
	<context-param>
		<param-name>managedLanguages</param-name>
		<param-value>it en fr</param-value>
	</context-param>
</web-app>