<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="FA" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/log/test1.log" />
<!-- 		<param name="Threshold" value="TRACE" /> -->
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
<!--  Il DEFAULT è <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" /> -->
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p] [%t] [%c]%m%n" />
		</layout>
	</appender>

	<root>
<!-- 		<level value="TRACE" "DEBUG" "INFO" "WARN" "ERROR" "FATAL" /> -->
	<level value="TRACE" />
		<appender-ref ref="FA" />
	</root>
</log4j:configuration>